@font-face {
    font-family: "Segoe ui";
    src: url('../fonts/Segoe\ UI\ Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/futura_pt_medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/futura-pt-light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/futura_pt_bold.ttf");
    font-weight: bold;
    font-style: normal;
}